<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

  <div>
    <a href="/">Home</a> |
    <a href="/server">Server</a> |
    <a href="/spa">SPA</a>
  </div>

  <h1>{{title}}</h1>

  {{{body}}}

</body>
</html>
